{% extends 'base.html.twig' %}

{% block title %}{% trans %}Vérification email site de rencontre sérieux des célibataires - Futulove{% endtrans %}{% endblock %}

{% block body %}
<body style="background-color: #161a2d;">

    <!-- login section start -->
    <section class="mt-5 pt-5 login_section mb-1">
        <div class="container">
            <div class="main_heading text-center mt-4">
                <h2 class="text-white">
					<p class="text-center fs-18 text-white">
						{% trans %}Nous vous avons envoyé un{% endtrans %}
						<span class="fw-bold">
							{% trans %}mail de vérification{% endtrans %}
						</span>
						{% trans %}
						à l'adresse{% endtrans %}
						<span class="fw-bold">
						{% set user = app.request.session.get('user') %}
							{{user.email}}
						</span>
					</p>
				</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-10">
					<div class="login_box">
						{% if notification == true %}
							<p class="text-center fs-18 text-danger">
								{% trans %}Code incorrect !{% endtrans %}
							</p>
						{% endif %}
						{# <p class="text-center fs-18 text-black">
							{% trans %}Veuillez saisir le code ici{% endtrans %}
						</p> #}
						<form id="form" novalidate action="{{path('validationcode_compte')}}" method="post">
							<div class="form-group">
								{# <label>{% trans %}Code{% endtrans %} <span style="color: red !important;">*</span></label> #}
								<input type="text" class="form-control" data-validation="text" name="code" id="code"
								data-content="Code" required placeholder="{% trans %}Code reçu{% endtrans %}">
							</div>
							<button type="submit" class="border-0 w-100 login_btn mt-4">{% trans %}Valider{% endtrans %}</button>
						</form>

					</div>
					<div>
						<p class="text-center fs-18 text-black">
							{% trans %}Vous n'avez pas reçu le code ?{% endtrans %}
							<span class="fw-bold">
								<a href="{{path("envoi_email")}}" class="text-primary">
									{% trans %}Renvoyer{% endtrans %}
								</a>
							</span>
						</p>
					</div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}