<!-- pricing plan section start -->
    <section class="mt-5">
        <div class="container">
            <div class="main_heading text-center">
                <h3>{% trans %}Niveaux d'adhésion mensuels{% endtrans %}</h3>
                <h2>{% trans %}Choissisez le plan qui vous rapproche de l'amour.{% endtrans %}</h2>
                <img src="{{ asset ('assets/images/home/heading-img.png') }}" alt="futulove">
            </div>
            <div class="row mt-4">
                <div class="col-xl-3 col-lg-3 col-md-6 mt-4">
                    <div class="pricing_plan text-center">
                    <div class="price_plan">
                        <h4>{% trans %}Abonnement Gratuit{% endtrans %}</h4>
                        <h2>$00.00</h2>
                        <h6>{% trans %}Essayez gratuitement{% endtrans %}</h6>
                    </div>
                    <div class="plan_list" style="text-align: left !important; margin-left: 50px !important;">
                        <ul class="list-unstyled p-0">
                            <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir les membres{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir le profil{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder au chat{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Accéder aux groupes{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Intégrer un groupe{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Modifier son profil{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Créer un groupe{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Envoyer des photos{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Appels audio{% endtrans %}</li>
                            <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Appels vidéos{% endtrans %}</li>
                        </ul>
                    </div>
                    <div class="main_btn mx-auto">
                        <a href="javascript:void(0);" class="main_btn">{% trans %}Je m'abonne{% endtrans %}</a>
                        <div class="scrolldown-btn">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                            xml:space="preserve">
                            <path class="first-path" fill="#000"
                            d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                            </path>
                            <path class="second-path" fill="#000"
                            d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                            </path>
                        </svg>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mt-4">
                    <div class="pricing_plan text-center">
                        <div class="price_plan">
                            <h4>{% trans %}Abonnement Standard{% endtrans %}</h4>
                            <h2>$8.99</h2>
                            <h6>{% trans %}L'amour à portée de clic{% endtrans %}</h6>
                        </div>
                        <div class="plan_list" style="text-align: left !important; margin-left: 50px !important;">
                            <ul class="list-unstyled p-0">
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir les membres{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir le profil{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder au chat{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder aux groupes{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Intégrer un groupe{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Modifier son profil{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Créer un groupe{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Envoyer des photos{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Appels audio{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Appels vidéos{% endtrans %}</li>
                            </ul>
                        </div>
                        <div class="main_btn mx-auto">
                            <a href="javascript:void(0);" class="main_btn">{% trans %}Je m'abonne{% endtrans %}</a>
                            <div class="scrolldown-btn">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                                xml:space="preserve">
                                <path class="first-path" fill="#000"
                                d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                </path>
                                <path class="second-path" fill="#000"
                                d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                </path>
                            </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mt-4">
                    <div class="pricing_plan text-center">
                        <div class="price_plan">
                            <h4>{% trans %}Abonnement Premium{% endtrans %} </h4>
                            <h2>$16.99</h2>
                            <h6>{% trans %}Vivez l'amour en premium{% endtrans %}</h6>
                        </div>
                        <div class="plan_list" style="text-align: left !important; margin-left: 50px !important;">
                            <ul class="list-unstyled p-0">
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir les membres{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir le profil{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder au chat{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder aux groupes{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Intégrer un groupe{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Modifier son profil{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Créer un groupe{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Envoyer des photos{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Appels audio{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-xmark"></i> {% trans %}Appels vidéos{% endtrans %}</li>
                            </ul>
                        </div>
                        <div class="main_btn mx-auto">
                            <a href="javascript:void(0);" class="main_btn">{% trans %}Je m'abonne{% endtrans %}</a>
                            <div class="scrolldown-btn">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                                xml:space="preserve">
                                <path class="first-path" fill="#000"
                                d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                </path>
                                <path class="second-path" fill="#000"
                                d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                </path>
                            </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mt-4">
                    <div class="pricing_plan text-center">
                        <div class="price_plan">
                            <h4>{% trans %}Abonnement VIP{% endtrans %}</h4>
                            <h2>$25.99</h2>
                            <h6>{% trans %}Amour VIP, c'est ici{% endtrans %}</h6>
                        </div>
                        <div class="plan_list" style="text-align: left !important; margin-left: 50px !important;">
                            <ul class="list-unstyled p-0">
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir les membres{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Voir le profil{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder au chat{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Accéder aux groupes{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Intégrer un groupe{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Modifier son profil{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Créer un groupe{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Envoyer des photos{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Appels audio{% endtrans %}</li>
                                <li><i class="fa-regular fa-circle-check"></i> {% trans %}Appels vidéos{% endtrans %}</li>
                            </ul>
                        </div>
                        <div class="main_btn mx-auto">
                            <a href="javascript:void(0);" class="main_btn">{% trans %}Je m'abonne{% endtrans %}</a>
                            <div class="scrolldown-btn">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                                xml:space="preserve">
                                <path class="first-path" fill="#000"
                                d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                </path>
                                <path class="second-path" fill="#000"
                                d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                </path>
                            </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing plan section end -->