<h1>Nouveau mot de passe</h1>
<p>Bonjour {{ user.email }},</p>
<p>Votre nouveau mot de passe sur le site futulove.com est : </p>
<p> <b>{{ nouveauMotDePasse }}</b> </p>
<br>
Cordialement !

L'équipe !